.gameboard .gameboard_row_number {
    display: flex;
    width: 15px;
    border: solid 1px black;
}

.gameboard .gameboard_row_number span {
    margin: auto;
}

.gameboard .gameboard_column_number {
    display: flex;
    width: 60px;
    border: solid 1px black;
}

.gameboard .gameboard_column_number span {
    margin: auto;
}
