.gameboard {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
}

.gameboard_row {
    display: flex;
    flex-direction: row;
}

.gameboard_field {
    display: flex;
    width: 60px;
    height: 60px;
    border: solid 1px black;
}

.gameboard_field div{
    margin: auto auto;
}

.gameboard_field.selected{
    border: solid 1px red;
    background-color: lightgray;
}

.green {
    background-color: #b1ffb2;
}

.white {
    background-color: white;
}
